/* FormStyle.css */

/* Reset default margin and padding */
body, h2, form, input, select, label {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF; /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #C62828; /* Primary color for headings */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333; /* Dark text color */
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #C62828; /* Primary color for buttons */
    color: #fff; /* White text color */
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #B71C1C; /* Darker shade on hover */
}

/* Navigation styles */
#navbar {
    background-color: #C62828; /* Primary color for navbar */
    color: #fff; /* White text color */
    padding: 10px 0;
}

.Navcontainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff; /* White text color for navbar links */
    text-decoration: none;
}

/* Hamburger menu */
.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .Navcontainer {
        flex-direction: column;
    }

    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        display: block;
    }

    .show {
        display: block;
    }
}
